.DS_Store

inabox/testdata/*
inabox/anvil.pid

test/testdata/*
inabox/resources/kzg/SRSTables/*

run/

**/bin/*
coverage.*
*log

*__pycache__*
*tmp*

/stc-storage-client/.devcontainer
/stc-storage-client/.gitbook
/stc-storage-client/.github
/stc-storage-client/bulk
/stc-storage-client/small
/stc-storage-client/0g-storage-client